<!DOCTYPE html>
<html lang="en">

<head>
  <title>Article Detail Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="css/style.css" rel="stylesheet"> -->
</head>

<body>

  <header class="articles-header"></header>
  <hr>

  <main>
    <header class="article-main-header">
      <h1>First Article</h1>
    </header>
    <aside class="article-aside">
      <p>CreatedBy</p>
      <p><a href="mailto:createdBy@gmail.com">createdBy@gmail.com</p>
      <p><time datetime="2023-01-22T00:00:00">2023-01-22</time></p>
      <p>#Java</p>
    </aside>

    <section class="article-section">

    </section>
    <div>
      <form>
        <label for="article-comment" hidden>Comment</label>
        <textarea id="article-comment" placeholder="Write comment" rows="3"></textarea>
        <button type="submit">Write</button>
      </form>

      <ul>
        <li>
          <div>
            <time><small>2022-01-22</small></time>
            <strong>CreatedByOne</strong>
            <p>
              Comments One
            </p>
          </div>
        </li>

        <li>
          <div>
            <time><small>2022-01-22</small></time>
            <strong>CreatedByTwo</strong>
            <p>
              Comments Two
            </p>
          </div>
        </li>

        <li>
          <div>
            <time><small>2022-01-22</small></time>
            <strong>CreatedByThree</strong>
            <p>
              Comments Three
            </p>
          </div>
        </li>
      </ul>
    </div>

    <nav>
      <hr>
      <table>
        <tr>
          <td><a href="#">prev</a></td>
          <td><a href="#">1</a></td>
          <td><a href="#">2</a></td>
          <td><a href="#">3</a></td>
          <td><a href="#">next</a></td>
        </tr>
      </table>
    </nav>

  </main>

  <hr>

  <footer class="articles-footer"></footer>

</body>

</html>
